<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">

            <% include includes/elements/user-login %>
            <div class="relative">
                <% include includes/elements/progress %>

                <div class="animation-element" data-viewport="<%= viewport %>">
                    <div class="body-wrap">
                        <section class="container fill-middle-large">

                            <a class="button button-back" href="/" data-target="0">Back</a>
                            <h1 class="heading">Contact List</h1>

                        </section>

                        <section>
                            <div class="container">
                                <% for (let index = 0; index < data.users.length; index++) { %>
                                <div class="row">
                                    <div class="contact">
                                        <div class="name">
                                            <%- data.users[index].name; %>
                                        </div>
                                        <div class="number">
                                            Contact Number:
                                            <%- data.users[index].phone; %>
                                        </div>
                                        <div class="address">
                                            Address:
                                            <%- data.users[index].address; %>
                                        </div>
                                        <div class="about">
                                            About the organisation:
                                            <%- data.users[index].description; %>
                                        </div>
                                        <div class="url">
                                            About the organisation:
                                            <%- data.users[index].url; %>
                                        </div>
                                    </div>
                                </div>
                                <% }%>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>

</html>
