<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">

            <% include includes/elements/user-login %>
            <div class="relative">
                <% include includes/elements/progress %>


                <div class="animation-element" data-viewport="<%= viewport %>">
                    <!--creates border effect-->
                    <div class="body-wrap">
                        <section class="container fill-middle-large">
                            <a class="button button-back" href="/" data-target="0">Back</a>

                            <h1 class="heading">Ingredients</h1>

                            <div id="IngredientsLoading" class="progress-loading">Loading Ingredients</div>

                            <div id="IngredientsSection" style="display: none;"
                                class="container fill-middle-medium flex-vertical">
                                <!-- Cookware input -->
                                <h6 class="heading-section">Cookware</h6>
                                <div class="ingredients-checkboxes" id="IngredientsCookware">
                                    <%- include("includes/elements/checkbox-pill", {label: "Oven", checked: true}); %>
                                    <%- include("includes/elements/checkbox-pill", {label: "Stovetop", checked: true}); %>
                                    <%- include("includes/elements/checkbox-pill", {label: "Microwave", checked: true}); %>
                                    <%- include("includes/elements/checkbox-pill", {label: "Deep Fryer", checked: false}); %>
                                </div>

                                <!-- Time input -->
                                <h6 class="heading-section">Maximum Time</h6>
                                <div class="ingredients-checkboxes">
                                    <%- include("includes/elements/checkbox-box", {label: "Filter by Time", checked: true}); %>
                                </div>
                                <%- include("includes/elements/input-range", {label: "Minutes", map: [15, 30, 45, 60, 90, 120, 180], use_map: true, value: 3}); %>

                                <!-- Serving input -->
                                <h6 class="heading-section">Serving Size</h6>
                                <div class="ingredients-checkboxes">
                                    <%- include("includes/elements/checkbox-box", {label: "Adjust Serving Size", checked: false}); %>
                                </div>
                                <p class="text-detail">When enabled, ingredient quantities are automatically scaled to
                                    the given serving size. This will not automatically change cooking time, be careful
                                    and use you own judgement where needed.</p>
                                <%- include("includes/elements/input-range", {label: "People", min: 1, max: 12, value: 4, step: 1, use_map: false}); %>

                                <!-- Ingredients input -->
                                <h6 class="heading-section">Ingredients</h6>
                                <div class="flex-horizontal container-center input-wide">
                                    <input id="IngredientsSearch" type="text" placeholder="Search Ingredients"
                                        class="flex-fill">
                                    <button id="IngredientsButtonAdd" class="button-icon">
                                        <ion-icon name="add"></ion-icon>
                                    </button>
                                </div>

                                <!-- Ingredients content -->
                                <div id="IngredientsMessageList"></div>
                                <% if (user && user.ingredients) { %>
                                <div id="IngredientsList" data-ingredients="<%= user.ingredients.join('+') %>"></div>
                                <% } else { %>
                                <div id="IngredientsList" data-ingredients=""></div>
                                <% } %>

                                <div class="container-center flex-responsive">
                                    <% if (user) { %>
                                    <button id="IngredientsButtonSaveIngredients" class="button button-loadable">Save
                                        Ingredients</button>
                                    <% } %>
                                    <button id="IngredientsButtonFindRecipes" class="button button-next">Find
                                        Recipes</button>
                                </div>


                                <% if (!user) { %>
                                <h3>Sign In</h3>
                                <p>Want to save your ingredient list across your devices?
                                    Sign in with Google so that you don't need to re-enter your ingredients each time
                                    that you want to find a recipe</p>
                                <div class="container-center flex-horizontal">
                                    <a class="button button-inline" href="/auth/google">Sign In with Google</a>
                                </div>
                                <% } %>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
