<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">

            <% include includes/elements/user-login %>
            <div class="relative">
                <% include includes/elements/progress %>

                <div class="animation-element" data-viewport="<%= viewport %>">
                    <div class="body-wrap">
                        <section class="container fill-middle-medium">
                            <% if (data.url_back) { %>
                            <a class="button button-back button-left" href="<%= data.url_back %>"
                                data-target="3">Back</a>
                            <% } %>

                            <h1 class="heading"><%= data.recipe.title %></h1>
                            <h3>Method</h3>
                            <ol class="recipe-steps">
                                <% for (let i = 0; i < data.recipe.method.length; ++i) { %>
                                <li>
                                    <%= data.recipe.method[i] %>
                                </li>
                                <% } %>
                            </ol>

                            <a href="#" class="button button-inline button-next button-recipe"
                                data-id="<%= data.recipe._id %>" data-step="3">Cleanup</a>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>

</html>
