<div class="slider-container">
    <% if (map) { %>
    <div class="slider" id="Slider<%= label %>" data-value="<%= value %>" data-min="0" data-max="<%= map.length - 1 %>"
        data-step="1" data-labelid="Slider<%= label %>Value" data-map="<%= JSON.stringify(map) %>"></div>
    <% } else { %>
    <div class="slider" id="Slider<%= label %>" data-value="<%= value %>" data-min="<%= min %>" data-max="<%= max %>"
        data-step="<%= step %>" data-labelid="Slider<%= label %>Value"></div>
    <% } %>
    <label for="Slider<%= label %>">
        <span id="Slider<%= label %>Value">0</span>
        <span><%= label %></span>
    </label>
</div>
