<div class="slider-container">
    <div class="slider" id="Slider<%= label %>" data-value="<%= value %>" data-min="<%= min %>" data-max="<%= max %>" data-step="<%= step %>"
        data-labelid="Slider<%= label %>Value"></div>
    <label for="Slider<%= label %>">
        <span id="Slider<%= label %>Value">0</span>
        <span><%= label %></span>
    </label>
</div>
