<div class="recipe-row">
    <div class="recipe">
        <p class="text-detail">Idea <%= index %></p>

        <img src="<%= recipe.image %>" class="recipe-image">
        <h2><%= recipe.title %></h2>

        <h6>Info</h6>
        <div class="recipe-info">
            <% if (recipe.totalTime) { %>
            <p>Time: <%= recipe.totalTime %> minutes</p>
            <% } %>
            <% if (recipe.cookTime) { %>
                <p>Cook time: <%= recipe.cookTime %> minutes</p>
                <% } %>

            <% if (recipe.serves) { %>
            <p>Serves: <%= recipe.serves %></p>
            <% } %>
        </div>

        <h6>Ingredients</h6>
        <div class="recipe-info recipe-ingredients">
            <% if (recipe.ingredients) { %>
            <% for (let i = 0; i < recipe.ingredients.length; ++i) { %>
            <p><%= recipe.ingredients[i].text %></p>
            <% } %>
            <% } %>
        </div>
    </div>
    <a href="<%= recipe.source %>" class="button button-next">See Recipe</a>
</div>
