<div class="recipe-row">
    <div class="recipe">
        <span>Idea <%= index %></span>
        <h2><%= recipe.title %></h2>
        <div class="recipe-info">
            <% if (recipe.time) { %>
            <p>Time: <%= recipe.time %></p>
            <% } %>

            <% if (recipe.serves) { %>
            <p>Serves: <%= recipe.serves %></p>
            <% } %>

            <% if (recipe.serves) { %>
            <p>Ingredients: <%= recipe.ingredients.join(", ") %></p>
            <% } %>
        </div>
        <div class="recipe-steps">
            <ul>
                <% for (let step = 0; step < recipe.method.length; ++step) { %>
                <li><%= recipe.method[step] %></li>
                <% } %>
            </ul>
        </div>
    </div>
    <a href="#" class="button">See Recipe</a>
</div>
